<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Create Recipe</title>
  </head>
  <body>
    <form action="post">
      <div class="input-wrapper">
        <label for="title-input">Title:</label>
        <input
          id="title-input"
          type="text"
        />
      </div>
      <div class="input-wrapper">
        <label for="ingredients-input">Title:</label>
        <input
          id="ingredients-input"
          type="text"
        />
      </div>
      <div class="input-wrapper">
        <label for="instructions-input">Title:</label>
        <input
          id="instructions-input"
          type="text"
        />
      </div>
      <button type="submit">Created</button>
    </form>
  </body>
</html>
