<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Family Recipies</title>
  </head>
  <body>
    <header>
      <nav>
        <h1>Family Recipies</h1>
        <h3>A collection of food and memories</h3>
        <button>Login</button>
      </nav>
    </header>
    <div>
      <div>
        <input type="text" />
        <button>Search</button>
      </div>
      <button>Create</button>
    </div>
    <table>
      <thead>
        <tr>
          <th>Recipe</th>
          <th>Contributor</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <!--  -->
        <tr>
          <a href="#">
          <td>Macaroni and Ementhaller</td>
          <td>Missy Hays</td>
          <td>12/22/2022</td>
          </a>
        </tr>
        <tr>
          <a href="#"></a>
          <td>Cob salad</td>
          <td>Burt Sampson</td>
          <td>12//14/2022</td>
          </a>
        </tr>
        <tr>
          <a href="#"></a>
          <td>Chocolate Buttercream Frosting</td>
          <td>Missy Hays</td>
          <td>6/13/2023</td>
          </a>
        </tr>
      </tbody>
    </table>
  </body>
</html>
