<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Family Recipies</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <header class="bg-green-400">
      <nav class="bg-purple-500 container flex mx-auto justify-between">
        <div class="bg-teal-600 flex">
          <h1 class="bg-slate-400">Family Recipies</h1>
          <h3 class="bg-yellow-600">A collection of food and memories</h3>
        </div>
        {% if session.logged_in == True %}
        <p>Welcome {{session.first_name}},</p>
        <a href="/logout"><button class="bg-pink-400">Logout</button></a>
        {% else %}
        <a href="/login_reg"><button class="bg-pink-400">Login</button></a>
        {% endif %}

      </nav>
    </header>
    <div class="container mx-auto">
      <div class="flex justify-between my-5">
        <div class="search-bar">
          <label for="searchinput">Search</label>
          <input
            name="search-input"
            type="text"
            id="searchinput"
            class="border-2 border-gray-400"
          />
          <button class="bg-red-500 text-white">Search</button>
        </div>
        <a href="/create_recipe"><button class="bg-orange-500 text-white" >Create</button></a>
      </div>

      
      <table class="w-full overflow-y-auto h-[400px]">
        <thead>
          <tr>
            <th class="text-left">Recipe</th>
            <th>Contributor</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody class="border-2 border-black">
          {% for recipe in recipes%}
            <tr class="border-b-2 border-black">
                <td class="bg-fuchsia-500"><a href="/one_recipe/{{recipe.id}}">{{recipe.title}}</a></td>
                <td class="bg-slate-400">{{recipe.posted_by.first_name}} {{recipe.posted_by.last_name}}</td>
                <td>{{recipe.created_at}}</td>

                {%if recipe.posted_by.id==session.user_id%}
                <td><a href="/delete_recipe/{{recipe.id}}">Delete</a></td>
                {% endif %}
                
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
