<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer components {
        .login-btn{
          @apply bg-amber-600 rounded-full mr-4 md:mr-0 px-4 py-2 text-amber-800 hover:bg-amber-200 transition-colors duration-300
        }
        .modal {
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.4);
          display: none;
        }
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
        }
        .section-banner-btwn {
          @apply bg-amber-700 flex justify-between items-center px-4 py-2;
        }

        .edit-button-lt {
          @apply bg-amber-600 text-amber-700 px-2  text-sm h-5 rounded-full hover:bg-amber-200 transition-colors duration-300;
        }
        .edit-button-dk {
          @apply bg-amber-700 text-amber-200 px-2  text-sm h-5 rounded-full hover:bg-amber-600 transition-colors duration-300;
        }

        .overflow-columns {
          column-fill: auto;
        }
      }
    </style>

    <title>Family Recipe</title>
  </head>
  <body class="bg-amber-100">
    <!-- * ========== SITE HEADER ========== -->
    <header class="bg-amber-700">
      <nav class="container flex mx-auto justify-between items-center">
        <div
          class="py-3 flex items-center justify-center md:justify-start w-full md:w-auto"
        >
          <h1 class="text-3xl md:text-5xl text-amber-200 mx-auto md:mx-0">
            Family Recipies
          </h1>
          <h3 class="hidden text-amber-200 md:inline-block pl-5">
            A collection of food and memories
          </h3>
        </div>
        

        {% if session.user_id %}
        <a href="/logout"><button class="login-btn">Logout</button></a>
        {% else %}
        <a href="/login_reg"><button class="login-btn">Login</button></a>
        {% endif %}
      </nav>
    </header>
    <!-- * ========== PAGE CONTENT ========== -->
    <div class="container mx-auto">
      <!-- * Link back to list & Display recipe author &  -->
      <div class="flex justify-between items-center text-amber-700 py-2">
        <a href="/list">&lt;&lt; Back to recipes list</a>
        <p class="hidden md:flex text-sm">
          <!-- TODO can we make this name clickable back to List with a display of all their recipies? -->
          By:
          <a href="/user_recipes/{{recipe.user_id}}">
          <span class="edit-button-dk">
            {{recipe.posted_by.first_name}}
            {{recipe.posted_by.last_name}}
          </span>
        </a>
          on {{recipe.created_at.strftime("%B %d %Y")}}
        </p>
      </div>

      <!-- * NAME, INGREDIENTS & IMAGE Section -->
      <!-- Displayed on Mobile, Hidden when  >= Tablet -->
      <div class="flex flex-col md:hidden">
        <div class="flex justify-between">
          <h2 class="text-4xl text-amber-700">{{recipe.title}}</h2>
          {%if recipe.posted_by.id==session.user_id%}
          <button
            id="modal-name-btn"
            class="edit-button-dk mt-2 mr-2"
          >
            edit
          </button>
          {% endif %}
        </div>
        <div class="flex justify-end text-sm text-amber-700">
          By:
            <span class="edit-button-dk">
              {{recipe.posted_by.first_name}}
              {{recipe.posted_by.last_name}}
            </span>
            on {{recipe.created_at}}
        </div>
      </div>
      <section class="top-section flex flex-col-reverse md:flex-row">
        <div class="w-full md:w-1/2">
          <!-- * Name & edit button  hidden on mobile, displayed when >= tablet-->
          <div class="hidden md:flex justify-between">
            <h2 class="text-4xl text-amber-700">{{recipe.title}}</h2>
            {%if recipe.posted_by.id==session.user_id%}
            <button
              id="modal-name-btn"
              class="edit-button-dk mt-2 mr-2"
            >
              edit
            </button>
            {% endif %}
          </div>

          <!-- * Ingredients -->
          <div class="recipe-ingredients-group mt-8 flex flex-col">
            <div class="section-banner-btwn">
              <h3 class="text-3xl text-amber-200">Ingredients</h3>
              {%if recipe.posted_by.id==session.user_id%}
              <button
                id="modal-ingredient-btn"
                class="edit-button-lt"
              >
                edit
              </button>
              {% endif %}
            </div>
            <p class="text-amber-700 px-2 md:columns-2 overflow-auto">
              {{recipe.ingredients}}
            </p>
          </div>
        </div>
        <!-- * Image -->
        <div
          class="w-full md:w-1/2 md:ml-4 overflow-hidden aspect-square rounded-xl"
        >
          <img
            src="{{url_for('static', filename='uploads/'~recipe.img)}}"
            alt="cookies"
          />
        </div>
      </section>
      <!-- * DESCRIPTION Section -->
      <section class="w-full mt-4">
        <header class="section-banner-btwn relative">
          <h3 class="text-amber-200 w-full text-3xl md:text-center">
            Description
          </h3>
          {%if recipe.posted_by.id==session.user_id%}
          <button
            id="modal-description-btn"
            class="edit-button-lt absolute right-4"
          >
            edit
          </button>
          {% endif %}
        </header>
        <div class="content-wrapper flex justify-center">
          <div class="columns-1 md:columns-2 max-h-min">
            {{recipe.description}}
          </div>
        </div>
      </section>
      <!-- * INSTRUCTIONS Section -->
      <section class="w-full mt-5">
        <header class="section-banner-btwn relative">
          <h3 class="text-amber-200 w-full text-3xl md:text-center">
            Instructions
          </h3>
          {%if recipe.posted_by.id==session.user_id%}
          <button
            id="modal-instructions-btn"
            class="edit-button-lt absolute right-4"
          >
            edit
          </button>
          {% endif %}
        </header>
        <div class="content-wrapper flex justify-center">
          <div class="columns-2 mx-4 mt-4">
            <p>{{recipe.directions}}</p>
          </div>
        </div>
      </section>
      <!-- * SOCIAL COMMENTS SECTION -->
      <section class="w-full mt-5">
        <header class="section-banner-btwn">
          <h3 class="text-amber-200 w-full text-3xl md:text-center">
            Comments
          </h3>
        </header>
      </section>

      <section>
        <!-- Previous Comments -->
        <div class="mx-4">
          {% for comment in recipe.comments%}
          <div
            class="comment border border-amber-600 bg-amber-50 px-4 py-4 rounded-xl text-amber-700 my-4"
          >
            <div
              class="comment-header flex justify-between border-b border-amber-700"
            >
              <div class="comment-author">
                <h4 class="text-2xl">
                  {{comment.posted_by.first_name}}
                  <span class="text-sm"
                    >{{comment.created_at.strftime("%m/%d/%Y, %H:%M:%S")}}</span
                  >
                </h4>
              </div>
              {% if comment.posted_by.id == session.user_id%}
              <div class="controls">
                <button class="edit-button-dk">edit</button>
                <a href="/delete_comment/{{comment.recipe_id}}/{{comment.id}}"
                  ><button class="edit-button-dk">delete</button></a
                >
              </div>
              {% endif %}
            </div>
            <p class="text-lg px-4 pt-2">{{comment.text}}</p>
            {% if comment.posted_by.id == session.user_id%}
            <form action="/edit_comment/{{recipe.id}}/{{comment.id}}" method="POST">
              <label for="comment-update">Update Comment:</label>
              <textarea
                name="comment-update"
                id="comment-update"
                cols="30"
                rows="10"
                class="border-2 w-full"
              ></textarea>
              <button
                class="bg-amber-700 text-amber-50 px-4 py-2 rounded-xl mt-4"
              >
                Submit
              </button>
            </form>
            {% endif %}
          </div>
          {% endfor %}
        </div>
        {% if session.user_id %}
        <!-- Comment Input -->
        <form
          action="/create_comment/{{recipe.id}}"
          ,
          method="POST"
          class="mx-4 mb-4"
        >
          <input
            type="hidden"
            name="user_id"
            value='{{session["user_id"]}}'
          />
          <input
            type="hidden"
            name="recipe_id"
            value="{{recipe.id}}"
          />
          <div class="comment-input">
            <label for="text">Your comment:</label>
            <textarea
              name="text"
              id="text"
              cols="30"
              rows="10"
              class="border-2 w-full"
            ></textarea>
            <button
              class="bg-amber-700 text-amber-50 px-4 py-2 rounded-xl mt-4"
            >
              Submit
            </button>
          </div>
        </form>
        {% endif %}
      </section>
    </div>
    <!-- * ========== MODALS ========== -->
    <!-- *  NAME Modal -->
    <div
      id="modal-name"
      class="modal"
    >
      <div class="modal-content">
        <form
          action="/edit_title"
          method="POST"
        >
          <span
            id="modal-name-close"
            class="close"
            >&times;</span
          >
          {% with messages = get_flashed_messages(category_filter=["title"]) %}
          {% if messages %} {% for message in messages %}
          <p>{{message}}</p>
          {% endfor %} {% endif %} {% endwith %}
          <p>Edit Title:</p>
          <input
            type="text"
            class="border-2"
            name="title"
            minlength="3"
            value="{{recipe.title}}"
          />
          <input
            type="hidden"
            class="border-2"
            name="id"
            value="{{recipe.id}}"
          />
          <button
            type="submit"
            class="bg-black text-white"
          >
            Update Title
          </button>
        </form>
      </div>
    </div>
    <!-- *  INGREDTIENTS Modal -->
    <div
      id="modal-ingredients"
      class="modal"
    >
      <div class="modal-content">
        <form
          action="/edit_ingredients"
          method="POST"
          class="flex flex-col"
        >
          <span
            id="modal-ingredients-close"
            class="close"
            >&times;</span
          >
          <p>Edit Ingredients:</p>
          <textarea
            type="text"
            class="border-2"
            minlength="3"
            rows="5"
            width="100%"
            name="ingredients"
          >
{{recipe.ingredients}}</textarea
          >
          <input
            type="hidden"
            name="id"
            value="{{recipe.id}}"
          />
          <button
            type="submit"
            class="bg-black text-white"
          >
            Update Ingredients
          </button>
        </form>
      </div>
    </div>
    <!-- *  DIRECTIONS Modal -->
    <div
      id="modal-directions"
      class="modal"
    >
      <div class="modal-content">
        <form
          action="/edit_directions"
          method="POST"
        >
          <span
            id="modal-directions-close"
            class="close"
            >&times;</span
          >
          <p>Edit Directions:</p>
          <input
            type="text"
            class="border-2"
            minlength="3"
            name="directions"
            value="{{recipe.directions}}"
          />
          <input
            type="hidden"
            class="border-2"
            name="id"
            value="{{recipe.id}}"
          />

          <button
            type="submit"
            class="bg-black text-white"
          >
            Update Directions
          </button>
        </form>
      </div>
    </div>
    <!-- *  DESCRIPTION Modal -->
    <div
      id="modal-description"
      class="modal"
    >
      <div class="modal-content">
        <form
          action="/edit_description"
          method="POST"
        >
          <span
            id="modal-description-close"
            class="close"
            >&times;</span
          >
          <p>Edit Description:</p>
          <input
            type="text"
            class="border-2"
            minlength="3"
            name="description"
            value="{{recipe.description}}"
          />
          <input
            type="hidden"
            class="border-2"
            name="id"
            value="{{recipe.id}}"
          />

          <button
            type="submit"
            class="bg-black text-white"
          >
            Update Description
          </button>
        </form>
      </div>
    </div>
    <!-- * This is the external js file that handles the opening and closing of the modals. -->
    <script src="../static/js/modal.js"></script>
  </body>
  <!-- Modals -->
</html>
