<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <style type="text/tailwindcss">
      @layer components {
        .modal {
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0, 0, 0);
          background-color: rgba(0, 0, 0, 0.4);
          display: none;
        }
        .modal-content {
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 80%;
        }
      }
    </style>

    <title>Document</title>
  </head>
  <body>
    <!-- * HEADER BAR -->
    <header class="bg-green-400">
      <nav class="bg-purple-500 container flex mx-auto justify-between">
        <div class="bg-teal-600 flex">
          <h1 class="bg-slate-400">Family Recipies</h1>
          <h3 class="bg-yellow-600">A collection of food and memories</h3>
        </div>

        <button class="bg-pink-400">Login</button>
      </nav>
    </header>
    <div class="container mx-auto">
      <a href="#">&lt;&lt; Back to recipes list</a>
      <!-- * NAME, INGREDIENTS & IMAGE Section -->
      <section class="top-section flex flex-col-reverse md:flex-row">
        <div class="w-full md:w-1/2">
          <!-- * Name -->
          <div class="recipe-title-group">
            <h2 class="text-3xl">{{recipe.title}}</h2>
            <button
              id="modal-name-btn"
              class="mr-4 bg-black text-white px-2 py-0.5 text-sm rounded-full"
            >
              edit
            </button>
            <!-- <p class="text-xl">Contributed by {{recipe.posted_by.first_name}} {{recipe.posted_by.last_name}}</p>
            <p class="text-xl">Created on {{recipe.created_at}}</p>
            <p class="text-xl">Last updated on {{recipe.updated_at}}</p> -->
          </div>
          <!-- * Ingredients -->
          <div class="recipe-ingredients-group mt-8">
            <div class="ingredient-header flex justify-between">
              <h3 class="text-2xl underline">Ingredients</h3>
              <button
                id="modal-ingredient-btn"
                class="mr-4 bg-black text-white px-2 py-0.5 text-sm rounded-full"
              >
                edit
              </button>
            </div>
            {{recipe.ingredients}}
          </div>
        </div>
        <!-- * Image -->
        <div class="w-full md:w-1/2 overflow-hidden aspect-square rounded-xl">
          <img
            class="hero-image"
            src="https://images.unsplash.com/photo-1612892010343-983bfd063dc5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80"
            alt="Macaroni and Ementhaller"
          />
        </div>
      </section>
      <!-- * DESCRIPTION Section -->
      <section class="w-full">
        <header class="section-header bg-slate-400 mt-8 relative">
          <h3 class="text-white text-xl text-center">Description</h3>
          <button
            id="modal-description-btn"
            class="mr-4 bg-black text-white px-2 py-0.5 text-sm rounded-full"
          >
            edit
          </button>
        </header>
        <div class="content-wrapper flex justify-center">
          <div class="columns-2 mx-4 mt-4">
            <p>
              {{recipe.description}}
            </p>
          </div>
        </div>
      </section>
      <!-- * INSTRUCTIONS Section -->
      <section class="w-full">
        <header class="section-header bg-slate-400 mt-8">
          <h3 class="text-white text-xl text-center">Instructions</h3>
          <button
            id="modal-instructions-btn"
            class="mr-4 bg-black text-white px-2 py-0.5 text-sm rounded-full"
          >
            edit instructions
          </button>
          <!-- <button
            class="absolute right-2 mr-4 bg-black text-white px-2 py-0.5 text-sm rounded-full top-1/2 transform -translate-y-1/2"
          >
            edit
          </button> -->
        </header>
        <div class="content-wrapper flex justify-center">
          <div class="columns-2 mx-4 mt-4">
            <p>
              {{recipe.directions}}
            </p>
          </div>
        </div>
      </section>
      <section class="w-full">
        <header class="section-header bg-slate-400 mt-8 relative">
          <h3 class="text-white text-xl text-center">Comments</h3>
          <button
            class="absolute right-2 mr-4 bg-black text-white px-2 py-0.5 text-sm rounded-full top-1/2 transform -translate-y-1/2"
          >
            edit
          </button>
        </header>
        <div class="content-wrapper flex justify-center">
          <div class="columns-2 mx-4 mt-4">
            <p>

            </p>
          </div>
        </div>
      </section>
      <!-- * SOCIAL COMMENTS SECTION -->
      <section>
        <!-- Previous Comments -->
        <div class="comments">
          <div
            class="comment border border-black shadow-xl px-4 py-4 rounded-xl"
          >
            <div class="comment-header flex justify-between">
              <div class="comment-author">
                <h4 class="text-xl">Missy Hays</h4>
                <p class="text-sm">12/22/2022</p>
              </div>
              <div class="controls">
                <button>edit</button>
                <button>delete</button>
              </div>
            </div>
            <p class="text-lg">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              voluptatum, quod, quae, quia voluptate quos dolorum voluptas
              voluptatibus quibusdam quas quidem. Quisquam voluptatum, quod,
              quae, quia voluptate quos dolorum voluptas voluptatibus quibusdam
              quas quidem.
            </p>
          </div>
        </div>
        <!-- Comment Input -->
        <div class="comment-input">
          <label for="">Your comment:</label>
          <textarea
            name=""
            id=""
            cols="30"
            rows="10"
            class="border-2 w-full"
          ></textarea>
          <button class="bg-black text-white">Submit</button>
        </div>
      </section>
    </div>
    <!-- *  This is the modal for submitting updates for NAME -->
    <div
      id="modal-name"
      class="modal"
    >
      <div class="modal-content">
        <form action="/edit_title" method="POST">
          <span
            id="modal-name-close"
            class="close"
            >&times;</span>
          {% with messages = get_flashed_messages(category_filter=["title"]) %}
      {% if messages %}
      {% for message in messages %}
      <p>{{message}}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}
          <p>Edit Title:</p>
          <input
            type="text"
            class="border-2"
            name="title"
            minlength="3"
            value="{{recipe.title}}"
          />
          <input
            type="hidden"
            class="border-2"
            name="id"
            value="{{recipe.id}}"
          />
          <button
            type="submit"
            class="bg-black text-white"
          >
            Update Title
          </button>
        </form>
      </div>
    </div>
    <!-- *  This is the modal for submitting updates for INGREDIENTS -->
    <div
      id="modal-ingredients"
      class="modal"
    >
      <div class="modal-content">
        <form action="/edit_ingredients" method="POST">
          <span
            id="modal-ingredients-close"
            class="close"
            >&times;</span
          >
          <p>Edit Ingredients:</p>
          <input
            type="text"
            class="border-2"
            minlength="3"
            name="ingredients"
            value="{{recipe.ingredients}}"
          />
          <input
            type="hidden"
            class="border-2"
            name="id"
            value="{{recipe.id}}"
          />
          <button
            type="submit"
            class="bg-black text-white"
          >
            Update Ingredients
          </button>
        </form>
      </div>
    </div>
    <!-- *  This is the modal for submitting updates for DIRECTIONS -->
    <div
      id="modal-directions"
      class="modal"
    >
      <div class="modal-content">
        <form action="/edit_directions" method="POST">
          <span
            id="modal-directions-close"
            class="close"
            >&times;</span
          >
          <p>Edit Directions:</p>
          <input
            type="text"
            class="border-2"
            minlength="3"
            name="directions"
            value="{{recipe.directions}}"
          />
          <input
            type="hidden"
            class="border-2"
            name="id"
            value="{{recipe.id}}"
          />
          
          <button
            type="submit"
            class="bg-black text-white"
          >
            Update Directions
          </button>
        </form>
      </div>
    </div>
    <!-- *  This is the modal for submitting updates for DESCRIPTION -->
    <div
      id="modal-description"
      class="modal"
    >
      <div class="modal-content">
        <form action="/edit_description" method="POST">
          <span
            id="modal-description-close"
            class="close"
            >&times;</span
          >
          <p>Edit Description:</p>
          <input
            type="text"
            class="border-2"
            minlength="3"
            name="description"
            value="{{recipe.description}}"
          />
          <input
            type="hidden"
            class="border-2"
            name="id"
            value="{{recipe.id}}"
          />
          
          <button
            type="submit"
            class="bg-black text-white"
          >
            Update Description
          </button>
        </form>
      </div>
    </div>
    <!-- * This is the external js file that handles the opening and closing of the modals. -->
    <script src="../static/js/modal.js"></script>
  </body>
  <!-- Modals -->
  <div
    id="name-modal"
    class="fixed z-10 left-0 top-0 w-full h-full overflow-auto bg-black bg-opacity-50 flex justify-center items-center hidden"
  >
    <div class="border bg-gray-50 border-gray-500 w-5/6 px-5 py-5 mt-[7%]">
      <span class="close">&times;</span>
      <p>Edit Name:</p>
    </div>
  </div>
</html>
