<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
  </head>
  <body>
    <header class="bg-green-400">
      <nav class="bg-purple-500 container flex mx-auto justify-between">
        <div class="bg-teal-600 flex">
          <h1 class="bg-slate-400">Family Recipies</h1>
          <h3 class="bg-yellow-600">A collection of food and memories</h3>
        </div>

        <button class="bg-pink-400">Login</button>
      </nav>
    </header>
    <div class="container mx-auto">
      <a href="#">&lt;&lt; Back to recipes</a>
      <section class="top-section flex flex-col-reverse md:flex-row">
        <div class="w-full md:w-1/2">
          <div class="recipe-title-group">
            <h2 class="text-3xl">{{recipe.title}}</h2>
            <p class="text-xl">Contributed by {{recipe.posted_by.first_name}} {{recipe.posted_by.last_name}}</p>
            <p class="text-xl">Created on {{recipe.created_at}}</p>
            <p class="text-xl">Last updated on {{recipe.updated_at}}</p>
          </div>
          <div class="recipe-ingredients-group mt-8">
            <div class="ingredient-header flex justify-between">
              <h3 class="text-2xl underline">Ingredients</h3>
              <button
                class="mr-4 bg-black text-white px-2 py-0.5 text-sm rounded-full"
              >
                edit
              </button>
            </div>
            {{recipe.ingredients}}
          </div>
        </div>
        <div class="w-full md:w-1/2 overflow-hidden aspect-square rounded-xl">
          <img
            class=""
            src="https://images.unsplash.com/photo-1612892010343-983bfd063dc5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80"
            alt="Macaroni and Ementhaller"
          />
        </div>
      </section>
      <section class="w-full">
        <header class="section-header bg-slate-400 mt-8 relative">
          <h3 class="text-white text-xl text-center">Description</h3>
          <button
            class="absolute right-2 mr-4 bg-black text-white px-2 py-0.5 text-sm rounded-full top-1/2 transform -translate-y-1/2"
          >
            edit
          </button>
        </header>
        <div class="content-wrapper flex justify-center">
          <div class="columns-2 mx-4 mt-4">
            <p>
              {{recipe.description}}
            </p>
          </div>
        </div>
      </section>
      <section class="w-full">
        <header class="section-header bg-slate-400 mt-8 relative">
          <h3 class="text-white text-xl text-center">Directions</h3>
          <button
            class="absolute right-2 mr-4 bg-black text-white px-2 py-0.5 text-sm rounded-full top-1/2 transform -translate-y-1/2"
          >
            edit
          </button>
        </header>
        <div class="content-wrapper flex justify-center">
          <div class="columns-2 mx-4 mt-4">
            <p>

            </p>
          </div>
        </div>
      </section>
    </div>
    <script>
      //Get the modal
      const nameModal = document.getElementById("name-modal");
      const nameModalBtn = document.getElementById("name-modal-btn");
    </script>
  </body>
  <!-- Modals -->
  <div
    id="name-modal"
    class="fixed z-10 left-0 top-0 w-full h-full overflow-auto bg-black bg-opacity-50 flex justify-center items-center hidden"
  >
    <div class="border bg-gray-50 border-gray-500 w-5/6 px-5 py-5 mt-[7%]">
      <span class="close">&times;</span>
      <p>Edit Name:</p>
    </div>
  </div>
</html>
